body {
  font-family: 'Inconsolata';
}

h1,h2,h3,h4,h5 {
  font-family: 'Karla', sans-serif;
  border-bottom: 1px solid;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#background::before {
  content:"";
  position:absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  
}

#video {
  display: block;
  position: fixed;
  width:100%;
  height: 100%;
  z-index: -1;
}

.page {
  z-index:10;
  position:absolute;
  width: 100%;
  height: 100%;
}

nav {
  background: rgba(0,0,0,0.8);
  box-sizing: border-box;
  color: white;
  padding: 2em 1em;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 250px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

nav ul {
  margin: 3em 0;
}

nav a {
  color: inherit;
  text-decoration: none;
  text-transform: lowercase;
  line-height: 1.5em;
}

a:visited {
  color: inherit;
}

.content {
  margin-left:250px;
  padding: 5%;
  background: rgba(0,0,0,0.75);
  min-height: 100%;
  -webkit-overflow-scrolling: auto
}

h1 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

p {
  margin: 1.5em 0;
  line-height: 1.45em;
}

h1,p {
  color: rgba(255,255,255,0.8);
}


.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#logo {
  display:inline-block;
  width: 80%;
}


.menu-ctrl {
  visibility: hidden;
  position: absolute;
  font-size: 1.5em;
  left: 0;
}


nav.expanded .menu-close {
  visibility: visible;
}

nav.expanded .menu-open {
  visibility: hidden;
}
//screen sizes below 768


@media only screen and (max-width: 768px) {
  .menu-ctrl {
    padding-top: 10px;
  }
  
  .menu-ctrl.menu-open {
    visibility: visible;
  }
  
  nav {
    position: fixed;
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s;
    &.expanded {
      background: black;
      overflow: visible;
      height: 100%;
      z-index: 9999;
    }  
  }

  #dmotr {
    width: 150px;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 10px;
  }
  
  #logo {
    width: 75%;
    margin-top: 3px;
  }
  
  .content {
    margin-left: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.75);
    min-height: 100%;
    margin-top: 60px;
  }
}

img {
  max-width: 100%;
}


//grid
.block-grid {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.grid-item {
  box-sizing: border-box;
  flex: 1;
  flex-basis: 50%;
  margin: 20px 0;
  padding: 0 2%;
  width: 50%;
}

@media (max-width: 900px) {
  .block-grid {
    display: block;
  }
  
  .grid-item {
    width: 100%;
  }
}