<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= current_page.data.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <%= stylesheet_link_tag :application %>
        <%= javascript_include_tag :app %>
        <link href='https://fonts.googleapis.com/css?family=Karla:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>  
        <section class="page">
          <nav>
            <a href="#" class="menu-ctrl menu-open"><span class="icon-menu"></span></a>
            <a href="#" class="menu-ctrl menu-close"><spand class="icon-cancel"></span></a>
            <div id="dmotr"><img src="images/logo.gif" id="logo"></h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="music.html">Music</a></li>
              <li><a href="shows.html">Shows</a></li>
              <li><a href="visuals.html">Visuals</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <a href="https://dmotr.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span></a>
            <a href="https://www.instagram.com/dragmeovertherainbow/" target="_blank"><span class="icon-instagram-1"></span></a>
            <a href="https://vimeo.com/dmotr" target="_blank"><span class="icon-vimeo-squared"></span></a>
            <a href="http://dmotr.tumblr.com/" target="_blank"><span class="icon-tumblr-squared"></span></a>
            <a href="https://www.facebook.com/dragmeovertherainbow" target="_blank"><span class="icon-facebook-squared"></span></a>
            
            
          </nav>
          <section class="content" id="page-outlet">
            <%= yield %>
          </section>
        </section> <!-- end page wrapper -->
        <img id="video" src="images/backgrounds/1.gif">
    </body>
</html>