---
title: Contact Us
---

<div class="page-fragment">
  <h1>Contact The Band</h1>
  <p>For booking and all other inquiries please email us at dmotrofficial@gmail.com 
  <p>
    Facebook - <a href="https://www.facebook.com/dragmeovertherainbow" target="_blank"><span class="icon-facebook-squared"></span></a><br />
    Instagram - <a href="https://www.instagram.com/dragmeovertherainbow/" target="_blank"><span class="icon-instagram-1"></span></a><br />
    Bandcamp - <a href="https://dmotr.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span></a><br />
    Vimeo - <a href="https://vimeo.com/dmotr" target="_blank"><span class="icon-vimeo-squared"></span></a><br />
    Tumblr - <a href="http://dmotr.tumblr.com/" target="_blank"><span class="icon-tumblr-squared"></span></a><br />
  </p>
</div>