---
title: Music
---

<div class="page-fragment">
  <h1>Music</h1>
  <p>We're recording our debut EP right now. Stay tuned!</p>
  <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=3492159623/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dmotr.bandcamp.com/track/pretty-all-in-a-row">Pretty [All In A Row] by Drag Me Over The Rainbow</a></iframe>
</div>