---
title: Press
---

<div class="page-fragment">
  <h1>Press & Writeups</h1>
  <h2>Do512 - Local Bands You Should Be Listening To: Volume 16</h2>
  <p class="italic">"..Drag Me Over The Rainbow is a three-piece noise-psych outfit that blends surf melodies with colorful noise. Like the soundtrack to a seedy 60s b-movie, Drag Me Over The Rainbow is raw and menacing, producing dirty walls of sound that evoke the transgression and grime often found in the alleyways and backstreets of American cities. With a newly solidified lineup, Drag Me Over The Rainbow is one of Austin's newest and most promising garage-psych acts." <a href="http://do512.com/p/local-bands-you-should-be-listening-to-volume-16" target="_blank">Do512</a></p>
</div>