---
title: Shows
---
<script type='text/javascript' src='//widget.bandsintown.com/main.min.js'></script>
<a href="http://www.bandsintown.com/DMOTR" class="bit-widget-initializer" data-display-local-dates="false" data-display-past-dates="true" data-artist-name="DMOTR" data-text-color="#fff" data-link-color="red" data-force-narrow-layout="true">DMOTR Tour Dates</a>
<br><br>
<!-- <h1>Past Shows</h1>
<h2><u>2017</u></h2>
<ul>
  <li>February 15th @ Cheer Up Charlies w/ Young Mammals, The Sour Notes &amp; Robby - Austin, TX</li>
  <li>January 10th @ Mohawk w/ Bahamacide, &amp; Bango Skank - Austin, TX</li>
  <li>January 5th @ Hotel Vegas w/ Matthew Logan Vasquez, Darkbird, Bond Twins, Magic Rockers of Texas, &amp; Maryann - Austin, TX</li>
</ul>
<h2><u>2016</u></h2>
<ul>
  <li>December 7th @ Cheer Up Charlies w/ Shivery Shakes, Chakra Khan, &amp; Zachman - Austin, TX</li>
  <li>July 8th @ Mohawk w/ Zachman, &amp; Bahamacide - Austin, TX</li>
</ul> -->